<canvas id="bncs" width="900px" height="450px" aria-label="Canvas image of three primary shapes" role="canvas" (mousedown)="coordinates($event, true)"
  (mouseup)="coordinates($event, false)">
  <p>Presented to the screen is a lilac rectangle. Above and to the left is a gold circle, which is partially behind the rectangle.
    In the foregound from the centre of the circle forms an equilateral trangle with its apex towards the left of the canvas
    area. one half of the triangle overlays the rectangle. All shapes have a black border.</p>
</canvas>

<div>

    <div *ngFor="let panel of panels; let i=index" [id]=createPanelId(i) accesskey="panel" class="panel" (click)="identifyElement($event)"
    appMovable [isMovable]="movePanel()">
    <div appMovableArea>
      <h1>{{ panel.name }}</h1>
      <button (click)="add(i)">Add</button>
      <span *ngFor="let card of panel.cards; let j=index" [id]=createCardId(j) class="card" accesskey="card" (click)="identifyElement($event)"
        appMovable [isMovable]="moveCard()" [style]=setStyle(card.status)>
        {{ card.status }}
      </span>
    </div>
  </div>
  
</div>